In [14]:
import numpy as np 
import pandas as pd
import geopandas as gpd
import math
import folium
import matplotlib.pyplot as plt
import seaborn as sns
from folium import Choropleth, Marker
from folium.plugins import HeatMap, MarkerCluster

# Load Calendar file

In [16]:
df_calendar= pd.read_csv("/Users/elisabethoeljeklaus/MID TERM/DATA/calendar.csv")

In [17]:
df_calendar

         listing_id        date available    price
0              2818  2019-12-05         f      NaN
1             73208  2019-08-30         f      NaN
2             73208  2019-08-29         f      NaN
3             73208  2019-08-28         f      NaN
4             73208  2019-08-27         f      NaN
...             ...         ...       ...      ...
7310945    29979667  2018-12-11         t  $139.00
7310946    29979667  2018-12-10         t  $139.00
7310947    29979667  2018-12-09         t  $139.00
7310948    29979667  2018-12-08         t  $139.00
7310949    29979667  2018-12-07         t  $139.00

[7310950 rows x 4 columns]

In [18]:
df_calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7310950 entries, 0 to 7310949
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   listing_id  int64
 1   date        object
 2   available   object
 3   price       object
dtypes: int64(1), object(3)
memory usage: 223.1+ MB

In [20]:
df_calendar.price.value_counts()

$150.00      51829
$200.00      35048
$100.00      34839
$250.00      34768
$120.00      34370
             ...
$662.00          1
$1,033.00        1
$1,354.00        1
$1,389.00        1
$1,271.00        1
Name: price, Length: 1036, dtype: int64